.title {
    font-family: 'BebasNeue-Regular';
    font-size: 92px;
}

.tagline {
    font-family: 'BebasNeue-Regular';
    font-size: 32px;
}

.small-heading {
    font-size: 32px;
    font-family: 'BebasNeue-Regular';
}

.small-title {
    font-size: 24px;
}

.label {
    font-size: 16px;
    font-family: 'BebasNeue-Regular';
    letter-spacing: 2px;
}

.label-alternate {
    font-size: 16px;
}

.micro {
    font-size: 14px;
}