@import '../../styles/color.module.scss';

.header {
    background-color: $main-gray;
    display: flex;
    padding: 12px;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 15;
}

.header__logo {
    margin-right: 10px;
    flex-basis: 400px;
    background-image: url('../../images/moviester-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.header__repo {
    cursor: pointer;
}
