@import '../../styles/color.module.scss';

.header {
    background-color: $main-gray;
    display: flex;
    padding: 12px;
}

.header__logo {
    margin-right: 10px;
    flex-basis: 400px;
    background-image: url('../../images/moviester-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
}
