@import '../../styles/text.module.scss';
@import '../../styles/color.module.scss';

.explore__container {
    display: flex;
    flex-direction: column;
    width: 1500px;
    align-self: center;
    margin-top: 30px;
}

.explore__title {
    @extend .small-heading;
    padding-bottom: 5px;
    color: white;
    border-bottom: 4px solid $main-black;
}

.explore__tabs {
    list-style-type:none;
    display: flex;
    padding: 0;
    margin-top: 15px;
}

.tabs__tab {
    @extend .label;
    color: white;
    cursor: pointer;
    margin-right: 50px;
    padding-bottom: 5px;
    &.active {
        border-bottom: 2px solid $main-blue;
        border-radius: 2px;
    }
}

.category__container {
    display: none;

    &.active {
        display: block;
    }
}