@import '../../styles/color.module.scss';

.loading__container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.loading__dots {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: $main-purple;
    color: $main-purple;
    animation: dotFlashing 1s infinite linear alternate;
    animation-delay: .5s;

    &::before {
        content: '';
        display: inline-block;
        position: absolute;
        top: 0;
        left: -15px;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: $main-purple;
        color: $main-purple;
        animation: dotFlashing 1s infinite alternate;
        animation-delay: 0s;
    }

    &::after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 0;
        left: 15px;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: $main-purple;
        color: $main-purple;
        animation: dotFlashing 1s infinite alternate;
        animation-delay: 1s;
    }
  }
  
  @keyframes dotFlashing {
    0% {
      background-color: $main-purple;
    }
    50%,
    100% {
      background-color: #ebe6ff;
    }
  }